body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: rgba(32, 209, 171, 0.315);
}

a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header  ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}


.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li .emphtml {
  display: block;
  padding: 20px 20px;
  border-right: 100px solid #41d6b1;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .robo1 {
    margin-left:900px;
    margin-top: 27px;
    font-size: 14px;
    display: block;
    float: left;
  }
  .header .robo2 {
      margin-left: 62px;
      margin-top: 27px;
      font-size: 14px;
      display: block;
      float: left;
  }
  .header .robo3 {
      margin-left: 62px;
      margin-top: 27px;
      font-size: 14px;
      display: block;
      float: left;
  }
/*   
  .header .robo1{
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-weight: bold;
      transition: 0.2s ease-in-out;
  }
  .header .robo2{
      text-decoration: none;
      color: rgb(0, 0, 0);
      font-family: Arial;
      font-weight: bold;
      transition: 0.2s ease-in-out;
  }
.header .robo3{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: Arial;
  font-weight: bold;
  transition: 0.2s ease-in-out;
} */

.
.header .robo1:hover{
  color: rgb(22, 70, 57)
}
.header .robo2:hover{
  color: rgb(22, 70, 57)
}
.header .robo3:hover{
  color: rgb(22, 70, 57)
}

/* menu */
.header .logo {
  
display: block;
float: left;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}



/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right;
  margin-top: 10px;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);           
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}


/* 48em = 768px @ 16pt font */

@media (min-width: 100em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height:none;
  }
  .header .menu-icon {
    display: none;
  }
}