<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>MyFlaskApp</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="{{ url_for('static', filename='service_staff.css') }}">
  </head>
  <body>
    <header class="header">
      <a href="http://127.0.0.1:8000/" class="logo"> <img src="{{url_for('static',filename='images/crm-icon-high-seas.png')}}" width="80" height="80" >Hello {{user_name|capitalize}}</a>
      <input class="menu-btn" type="checkbox" id="menu-btn" />
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-1 col-md-1" style="background-color:rgb(255, 255, 255);float:right;">
            <label class="menu-icon" for="menu-btn"><span class="nav-icon">
            </div>
            <div class="col-sm-1 col-md-1" style="background-color:rgb(255, 255, 255);float:right;">
                </div>
          

        </div>
      </div>
      </span></label>
      <ul class="menu">
          <li><a href="/service_staff/profile">Profile</a></li>
          <li><a href="/service_staff/add_service_request" >Service Requests</a></li>
          <li><a href="/service_staff/performance">Performance</a></li>
      </ul>
  </header>
  </body>
</html>
